.App {
  text-align: center;
}

.cinque-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  min-height: 50px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
  color: whitesmoke;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: inherit;
}

main {
  /* padding-top: 60px; */
}

.cat-name {
  padding-top: 60px;
}