.App {
  text-align: center;
  background-color: whitesmoke;
  color: #454444;
}

.logo {
  height: 48px;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
}

.cinque-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  min-height: 50px;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: darkslateblue;
  color: whitesmoke;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  text-decoration: none;
  color: inherit;
}

.is-current {
  color: white;
  font-weight: 800;
}

.cat-name {
  padding-top: 55px;
}

.cat-section {
  padding-left: 35px;
  padding-right: 35px;
}

footer {
  height: 80px;
  margin-top: 40px;
  background-color: darkslateblue;
  color: whitesmoke;
  display: flex;
  justify-content: center;
}